nav {
  position: absolute;
  top: 100px;
  right: 250px;
}

div a {
  display: inline;
  position: auto;
  margin: 0 0 0 20px;
  text-decoration: underline overline;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
}

div a:hover {
  text-decoration: initial;
  color: dodgerblue;
}
h1 {
  text-align: center;
}
footer {
  text-align: center;
  background: url(imagenes/bg.jpg);
  padding: 40px;
}
